Hi,<br/><br/>

Your Git repository has been processed and your GPT is ready to be created.<br/><br/>

Download your knowledge retrieval file <%= link_to "here", @repo.indexed_repo_file.url %> and follow the additional instructions at <a href="https://codebasechat.com">CodebaseChat</a>.

<br/><br/>
Thanks,<br/>
Alex and the CodebaseChat team

<br/><br/>
PS: Building on top of LLMs? <a href="https://context.ai">Context.ai</a> is an evaluation and analytics platform for LLM powered products.